{{ define "main" }}
<section class="section">
  <div class="container">
    <h1>Contactez-moi</h1>
    <form name="contact" method="POST" data-netlify="true">
      <input type="hidden" name="form-name" value="contact" />

      <div>
        <label for="name">Nom</label>
        <input type="text" name="name" required>
      </div>

      <div>
        <label for="email">Adresse email</label>
        <input type="email" name="email" required>
      </div>

      <div>
        <label for="objet">Objet</label>
        <select name="objet" required>
          <option value="">-- Sélectionnez --</option>
          <option value="former">Former</option>
          <option value="cours">Donner des cours</option>
          <option value="projet">Travailler sur un projet</option>
          <option value="devis">Demande de devis</option>
          <option value="autre">Autre</option>
        </select>
      </div>

      <div>
        <label for="message">Message</label>
        <textarea name="message" rows="6" required></textarea>
      </div>

      <div>
        <button type="submit">Envoyer</button>
      </div>
    </form>
  </div>
</section>
{{ end }}
